#HeaderBox {
    height:2.63em;
    background-color:rgba(238,238,238,1);
}
#Icon_left {
    width:3em;
}
#Search_right {
    height:2.19em;
    border-style:solid;
    border-color:rgba(207,207,207,1);
    background-color:rgba(223,223,223,1);
    font-size:1em;
}
#ScrollContent {
    width:100%;
    left:0em;
    top:0em;
    padding:2.69em 0em 0em 0em;
    background-color:rgba(255,255,255,1);
}
.wh100 {
    width:100%;
}
.Text_w {
    width:3em;
}

.t-gra-50{
    color:#505050;
}
.t-gar-a0{
    color:#a0a0a0;
}
.uinn-esh{
    padding:0.3125em 0 0.9375em 0.3125em;
}
.uinn-esh2{
    padding:0.5em 0 0.3125em 0;
}
.uinn-esh3{
    padding:0.625em 0.77em 0.46875em 0.77em;
}
.uinn-esh4{
    padding:0.5em 0.1875em 1.25em 0.3125em;
}
.uh-per1{
    height:9.375em;
}
.uwh-per2{
    height:2.875em;
    width:2.875em;
}
.uwh-per3{
    height:2.25em;
    width:2.25em;
}
.banImg{
    background-image:url('myImg/banImg1.png');
}
.userImg{
    background-image:url('myImg/user1.png');
}
.share{
    background-image:url('myImg/shopicon1.png');
}
.college{
    background-image:url('myImg/shopicon2.png');
}
.umar-per1{
    margin:0.125em;
}
.umar-per2{
    margin-top:-1.5625em;
}
.t-gra-per{
    color:#8b8b8b;
}

.b-gra-per1{
    border-color:#d1d1d1;
}
.uinn-per1{
    padding:0.40625em 0 0.5em 0;
}
.c-gra-per1{
    background-color:#a0a0a0;
}

.b-gra-cf{
    border-color:#cfcfcf
}
.uwh-esh{
    /*width:9.0625em;
    height:8.75em;*/
   height:100%;
   width:100%;
}
.umw-eleL{
    width:6.5625em;
}
.uwh-esh2{
    width:3em;
    height:3em;
}
.c-wh{
    background-color: white;
}
.uinn-a7{
    padding:0 0.625em;
}
.mar-aL1{
    margin-left:0.625em;
}
.umar-at2{
    margin-top:1em;
}